services:
  auth-db:
    image: "postgres:16-alpine"
    container_name: auth-service-db
    env_file:
      - ../env/.env.auth.dev
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - travel-network

networks:
  travel-network:
    driver: bridge
