services:
  api-gateway:
    build:
      context: ../../api-gateway
    ports:
      - "8080:8080"

  auth-service:
    build:
      context: ../../auth-service
    ports:
      - "8081:8080"

  postgres-auth:
    ports:
      - "5433:5432"
