
# ==================================================
# AUTH SERVICE
# ==================================================
AUTH_DB_NAME=authdb
AUTH_DB_USER=authuser

AUTH_SERVICE_PROFILE=docker

# ==================================================
# API GATEWAY
# ==================================================
GATEWAY_PROFILE=docker

