# ==========================
# ENVIRONMENT
# ==========================
APP_ENV=dev

# ==========================
# POSTGRES - AUTH SERVICE
# ==========================
POSTGRES_DB=authdb
POSTGRES_USER=authuser
POSTGRES_PASSWORD=your_password

# ==========================
# SPRING PROFILE
# ==========================
SPRING_PROFILES_ACTIVE=docker

# ==========================
# SPRING DATASOURCE (AUTH)
# ==========================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-auth:5432/authdb
SPRING_DATASOURCE_USERNAME=authuser
SPRING_DATASOURCE_PASSWORD=authpass

# ==========================
# JWT CONFIG (we’ll use later)
# ==========================
JWT_ISSUER=auth-service
JWT_AUDIENCE=api-gateway
JWT_ACCESS_TOKEN_TTL=900
JWT_REFRESH_TOKEN_TTL=604800
