# ==========================
# ENVIRONMENT
# ==========================
APP_ENV=prod

# ==========================
# POSTGRES - AUTH SERVICE
# ==========================
POSTGRES_DB=authdb
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

# ==========================
# SPRING PROFILE
# ==========================
SPRING_PROFILES_ACTIVE=docker

# ==========================
# SPRING DATASOURCE (AUTH)
# ==========================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-auth:5432/authdb
SPRING_DATASOURCE_USERNAME=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME_STRONG_PASSWORD

# ==========================
# JWT CONFIG
# ==========================
JWT_ISSUER=auth-service
JWT_AUDIENCE=api-gateway
JWT_ACCESS_TOKEN_TTL=600
JWT_REFRESH_TOKEN_TTL=2592000
